{% extends "base.html" %}

{% block content %}
    <h1 class="title">
      *Chwytliwa nazwa strony*
    </h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Co to za strona?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              Strona ma ułatwić studentom wybór odpowiedniego prowadzącego przy zapisie na przedmioty.
              Różni studenci mają różne oczekiwania względem prowadzących.
              DODAJ WIECEJ TEKSTU
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Jakie ma funkcjonalności?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <p>Dla niezalogowanego użytkownika strona umożliwia jedynie przeglądanie podsumowania opinii innych studentów (table poniżej).</p>
              <p><strong>Po założeniu konta i zalogowaniu</strong>, użytkownik może wystawić swoim prowadzącym opinie, zobaczyć podsumowanie swoich wystawionych opinii i
              czytać komentarze na temat prowadzących wystawione przez innych studentów. Celem uwiarygodnienia opini, konto musi być założone na mail z domeny uczelnianej.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Czego użyto do napisania aplikacji?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
              <ul>
                  <li>Frontend
                    <ul>
                        <li> HTML5, CSS3, JavaScript</li>
                        <li> Bootstrap</li>
                        <li> JQuery</li>
                    </ul>
                  </li>
                  <li> Backend
                      <ul>
                          <li> Flask </li>
                          <li> SQLite </li>
                      </ul>
                  </li>
              </ul>
          </div>
        </div>
        </div>
    </div>

    <label for="searchMainTable"> Wyszukaj </label><input type="text" id="searchMainTable" placeholder="Szukaj po dowolnym polu">
    <table id="mainTable">
        <tr class="mainTableHeader">
            {% for header in headers %}
            <th class="mainTableCell">{{ header }}</th>
            {% endfor %}
        </tr>
            {% for row in data %}
                <tr class="mainTableRow">
                {% for cell in row %}
                    <td class="mainTableCell"> {{ cell }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
    </table>
{% endblock %}